---
layout: base.njk
title: "Асинхронность и EventLoop в JavaScript"
description: "Разбираем вопросы связанные с асинхронностью в JavaScript: стек вызовов функций, движок выполнения JS, что такое микротаски и макротаски, очереди и что попадает в microtask queue и macrotask queue, EventLoop и цикл работы браузера"
ogType: "video.other"
---

{% from "../_layouts/lecture.njk" import lectureTemplate %}
{{ lectureTemplate(lectures[page.fileSlug], baseUrl) }}
