---
layout: base.njk
title: "Плюсы и минусы использования TypeScript"
description: "Разбираем плюсы и минусы использования TypeScript. Безопасность кода, строгая типизация, спорные моменты, документирование кода в TS. Type casting, enum, any и другие опасные моменты"
ogType: "video.other"
---

{% from "../_layouts/lecture.njk" import lectureTemplate %}
{{ lectureTemplate(lectures[page.fileSlug], baseUrl) }}
