.lecture-wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: var(--fui-space-2xl);
}

.lecture-video {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    background-color: var(--color-bg-primary);
    border: 1px solid var(--color-border-secondary);
}

.lecture-tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--fui-space-m);
}

.lecture-description {
    display: flex;
    flex-direction: column;
    gap: var(--fui-space-m);
}

.lecture-description-text {
    font-size: var(--font-size-2xl);
    line-height: var(--font-size-3xl);
    font-weight: 300;
    text-wrap: balance;
}

@media (max-width: 1480px) {
    .lecture-description-text {
        font-size: var(--font-size-xl);
        line-height: var(--font-size-2xl);
    }
}

@media (max-width: 1024px) {
    .lecture-wrapper {
        grid-template-columns: 1fr;
    }
    .lecture-description-text {
        font-size: var(--font-size-2xl);
        line-height: var(--font-size-3xl);
    }
}