---
layout: base.njk
title: Статьи
description: Статьи о веб-разработке, архитектуре проектов, инструментах и подходах к созданию современных веб-приложений.
---

{% from "./_layouts/ui/cards.njk" import cardsGrid %}

<h1>Статьи</h1>

{{ cardsGrid(articles, baseUrl) }}
