---
layout: base.njk
title: iMkhl
---

<link rel="stylesheet" href="{{ baseUrl }}/assets/css/main.css" />
<main class="main-wrapper">
  <div class="main-visit-card">
    <p class="main-visit-card-text">
      Привет! C 2018 года создаю интерфейсы и web-приложения, до этого создавал схемы и платы. Сейчас выступаю в роли
      лида в команде разрабатывающей аналитическую и биллинговую платформы. Делюсь своими знаниями на платформе
      getMentor. Иногда записываю видео лекции, пишу статьи и делаю небольшой вклад своими проектами в open-source.
    </p>
    <div class="main-visit-card-wrapper">
      <div class="main-visit-card-avatar-wrapper">
        <img class="main-visit-card-avatar" src="{{ baseUrl }}/assets/images/avatar.jpg" alt="iMkhl" />
      </div>
      <span class="main-visit-card-info">Иванов Михаил</span>
      <span class="main-visit-card-info">Ярославль, Россия</span>
    </div>
  </div>
  <div class="main-counter">
    {% for key, item in counterChart %}
      {% if item.value >= 1 %}
        <div class="main-counter-item">
          <span class="main-counter-item-value">[{{ item.value }}]</span>
          <span class="main-counter-item-label">{{ item.name }}</span>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</main>
