---
layout: base.njk
title: Лекции
description: Видеолекции о JavaScript, TypeScript, асинхронности, ООП и других аспектах веб-разработки для начинающих и опытных разработчиков.
---

{% from "./_layouts/ui/cards.njk" import cardsGrid %}

<h1>Лекции</h1>

{{ cardsGrid(lectures, baseUrl) }}
