---
layout: base.njk
title: Проекты
description: Open-source проекты и инструменты для разработчиков. Утилиты, библиотеки и расширения для повышения продуктивности.
---

{% from "./_layouts/ui/cards.njk" import cardsGrid %}

<h1>Проекты</h1>

{{ cardsGrid(projects, baseUrl) }}
